{% extends "base.html" %}

    {% block content %}

    <div class="about">
        <h3 class="abouth3">Data Set Information</h3>
            <p>This is perhaps the best known database to be found in the pattern recognition literature.
            Fisher's paper is a classic in the field and is referenced frequently to this day.
            The data set contains 3 classes of 50 instances each, where each class refers to a type of iris plant.
            One class is linearly separable from the other 2; the latter are NOT linearly separable from each other.
            </p>
        <h3 class="abouth3">Attribute Information</h3>
        <ul style="list-style-type:square;">
            <li>sepal length in cm</li>
            <li>sepal width in cm</li>
            <li>petal length in cm</li>
            <li>petal width in cm</li>
            <li>Class: Setosa, Versicolour, Virginica</li>
        </ul>
    </div>

    {% endblock %}